@import './mixins.scss';
@import './../components/Leaderboard/Leaderboard';
@import 'Layout.scss';
@import 'pages/stakePool.scss';

html {
  height: initial !important;
}
body {
  font-family: 'Lilita One', sans-serif !important;
  * {
    font-family: 'Lilita One', sans-serif !important;
  }
  background-repeat: no-repeat;
  background-image: url('../../public/honeyland/background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 100vh;
  height: initial !important;
}

.Leaderboard {
  font-family: 'Roboto', sans-serif !important;
  * {
    font-family: 'Roboto', sans-serif !important;
  }
}
