@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'Leaderboard.css';

body {
  font-family: 'Urbanist', sans-serif !important;
  background-color: #0f172a !important;
  background: url('../assets/img/bg.svg');
  background-repeat: no-repeat;
}
.wallet-adapter-button {
  border-radius: 10px !important;
  background: linear-gradient(207.67deg, #8ff6fd 3.43%, #1c4efd 104.7%);
}
.wallet-address a {
  color: white !important;
  font-weight: bold;
}
.bg-refund-button {
  background: linear-gradient(223.3deg, #fdf28f 12.44%, #f46904 99.02%);
}
.nft-card {
  background-color: rgba(255, 255, 255, 15%);
}