@import './mixins.scss';
.v-header {
  display: flex;
  margin-top: 30px;
  position: relative;
  &-logo {
    width: 215px;
    height: 180px;
    display: flex;
  }
  &-content {
    margin: 15px 0;
    height: 150px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-menu {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      padding-left: 20px;
      height: 75px;
      line-height: 75px;
      color: #3d0a00;
      font-weight: bold;
      font-size: 37px;
    }
    &-buttons {
      a {
        font-size: 22px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
        background: radial-gradient(
              106.52% 100% at 86.81% 100%,
              rgba(0, 0, 0, 0.1) 0%,
              rgba(0, 0, 0, 0) 86.18%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              55.45% 54.3% at 25.93% 25.27%,
              rgba(255, 255, 255, 0.679) 0%,
              rgba(255, 255, 255, 0) 69.79%,
              rgba(255, 255, 255, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #00da9a;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 109px;
        color: white;
        height: 55px;
        padding: 0 40px;
        display: inline-block;
        line-height: 55px;
        &:hover {
          color: white;
        }
      }
      a:nth-child(1) {
        background: radial-gradient(
              106.52% 100% at 86.81% 100%,
              rgba(0, 0, 0, 0.1) 0%,
              rgba(0, 0, 0, 0) 86.18%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              55.45% 54.3% at 25.93% 25.27%,
              rgba(255, 255, 255, 0.679) 0%,
              rgba(255, 255, 255, 0) 69.79%,
              rgba(255, 255, 255, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #ff4b0e;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 109px;

        margin-right: 15px;
      }
    }
  }
  &-statistics {
    width: 100%;
    height: 75px;
    display: flex;
    padding: 0 180px 0 20px;
    justify-content: space-between;
    align-items: center;
    &-box {
      text-align: center;
      &__count {
        line-height: 45px;
        color: #43a705;
        font-size: 45px;
        text-shadow: 0px 2px 3px #183f00;
      }
      &__title {
        line-height: 30px;
        color: #3d0a00;
        font-size: 18px;
      }
    }
  }
  &-top-bee {
    position: absolute;
    right: 15px;
    bottom: -75px;
    width: 150px;
  }
  &-bottom-bee {
    position: absolute;
    top: calc(100vh - 260px);
    left: -75px;
    width: 150px;
  }
}
